In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
import os

In [10]:
iris_data = pd.read_csv("../../input/Iris.csv",index_col='Id')

In [11]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
iris_data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [13]:
## Label encoding since the algorithms we are going to use do not take non numerical or boolean data as inputs
iris_data.Species.replace({'Iris-setosa':0,'Iris-versicolor':1, 'Iris-virginica':2},inplace=True)

In [14]:
iris_data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [45]:
iris_data['length_sum'] = (((((iris_data['SepalLengthCm']**2)+(iris_data['PetalLengthCm']**2))/2)**(1/2))*10000)
iris_data['width_sum'] = (((((iris_data['SepalWidthCm']**2)+(iris_data['PetalWidthCm']**2))/2)**(1/2))*10000)

In [55]:
iris_data['length_sum'] = iris_data['length_sum'].astype(str)
iris_data['width_sum'] = iris_data['width_sum'].astype(str)

In [56]:
iris_data.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,length_sum,width_sum
Id,,,,,,,
1,5.1,3.5,1.4,0.2,0,37396.52390263031,24789.110512481082
2,4.9,3.0,1.4,0.2,0,36034.70549345451,21260.291625469297
3,4.7,3.2,1.3,0.2,0,34481.87929913334,22671.568097509265
4,4.6,3.1,1.5,0.2,0,34212.570789112004,21965.882636488797
5,5.0,3.6,1.4,0.2,0,36715.119501371635,25495.097567963923

KeyError: 0

In [58]:
iris_data.head(20)
for value in (iris_data['length_sum']):
    print(value.encode('utf-8'))

b'37396.52390263031'
b'36034.70549345451'
b'34481.87929913334'
b'34212.570789112004'
b'36715.119501371635'
b'40031.237802496194'
b'34000.0'
b'36912.0576505835'
b'32649.655434629018'
b'36235.34186398688'
b'39629.53444086872'
b'35777.08763999664'
b'35355.33905932738'
b'31384.70965295043'
b'41880.78318274385'
b'41677.33196834941'
b'39274.67377331097'
b'37396.52390263031'
b'42059.481689626184'
b'37589.892258425'
b'40031.237802496194'
b'37589.892258425'
b'33286.63395418647'
b'38013.15561749643'
b'36503.42449688796'
b'37121.42238654118'
b'37121.42238654118'
b'38268.78623630491'
b'38078.86552931954'
b'35106.97936308392'
b'35777.08763999664'
b'39629.53444086872'
b'38268.78623630491'
b'40131.03537164223'
b'36235.34186398688'
b'36359.317925395684'
b'39962.48240537617'
b'36235.34186398688'
b'32442.256395016673'
b'37589.892258425'
b'36530.80891521566'
b'33120.99032335839'
b'32442.256395016673'
b'37121.42238654118'
b'38483.76280978772'
b'35355.33905932738'
b'37795.50237792852'
b'34000.0'
b'38948.6841883009'
b'36715.119501371635'
b'59619.627640568164'
b'55321.785943694915'
b'59841.45720150872'
b'48088.460154178356'
b'56307.193146169164'
b'51351.728305871075'
b'55578.772926361016'
b'41773.19714841085'
b'56885.850613311566'
b'45961.94077712559'
b'43156.69125408017'
b'51210.350516277475'
b'50990.19513592785'
b'54451.81356024792'
b'47074.40918375927'
b'56678.92024377317'
b'50798.622028555066'
b'50224.49601539074'
b'54171.02546564907'
b'48254.533465779146'
b'53781.96723809942'
b'51580.034897235186'
b'56435.804238089855'
b'54451.81356024792'
b'54520.63829413592'
b'56089.21464952063'
b'58855.755878248645'
b'59114.29607125505'
b'53033.00858899107'
b'47296.93436154187'
b'47270.498199193964'
b'46872.16658103186'
b'49421.655172606275'
b'55682.13357981176'
b'49704.12457734268'
b'53033.00858899107'
b'57870.545184921146'
b'54336.911947588625'
b'49076.470940767525'
b'48088.460154178356'
b'49804.61825975579'
b'54023.14318882232'
b'49819.674828324605'
b'42361.53915995026'
b'49497.474683058324'
b'50064.95780483591'
b'50064.95780483591'
b'53352.600686377045'
b'41838.97704294406'
b'49648.76634922564'
b'61518.28996322964'
b'54612.26968365259'
b'65276.33568147036'
b'59602.8522807424'
b'61599.5129850878'
b'71175.83859709698'
b'47042.53394535631'
b'68183.57573492314'
b'62661.790590438766'
b'66727.05598181295'
b'58420.88667591412'
b'58757.97818169036'
b'61842.54199173899'
b'53614.36374704078'
b'54612.26968365259'
b'58757.97818169036'
b'60207.97289396148'
b'72173.40230306453'
b'73109.50690573695'
b'55226.80508593631'
b'63285.06932918696'
b'52616.53732430518'
b'72173.40230306453'
b'56435.804238089855'
b'62201.28616033595'
b'66272.16610312357'
b'55443.66510251645'
b'55326.304774492215'
b'60133.18551349163'
b'65375.836514724615'
b'67812.2407829147'
b'71892.28053136164'
b'60133.18551349163'
b'57314.91952362839'
b'58553.3944361896'
b'69462.21994724902'
b'59602.8522807424'
b'59669.925423114124'
b'54332.310828824506'
b'61955.62928419015'
b'61745.44517614234'
b'60671.245248470055'
b'54612.26968365259'
b'63659.24913160694'
b'62201.28616033595'
b'59970.82624076477'
b'56872.66478722445'
b'58860.00339789321'
b'58137.76741499454'
b'55145.26271584895'