In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df 
import math
import random as rand


from sklearn.metrics import silhouette_score,calinski_harabasz_score,davies_bouldin_score
import copy 
from tabulate import tabulate
import random

In [ ]:
# data=pd.read_csv("total_data_na.csv")
data=pd.read_csv("school-district-breakdowns-1.csv")
data=data.dropna()
# data=data.drop(['Species'],axis=1)
# d_names=data["PLAYER"]
data=data.drop("JURISDICTION NAME",axis=1)
# data=data.drop["JURISDICTIONNAME"]
# data= data.drop("PLAYER",axis=1)
data

,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,COUNT PACIFIC ISLANDER,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,11,4,0.36,7,0.64,0,0,11,100,0,...,11,100,0,0.00,11,1.00,0,0,11,100
1,124,70,0.56,54,0.44,0,0,124,100,0,...,124,100,38,0.31,86,0.69,0,0,124,100
2,38,26,0.68,12,0.32,0,0,38,100,0,...,38,100,14,0.37,24,0.63,0,0,38,100
3,20,13,0.65,7,0.35,0,0,20,100,0,...,20,100,8,0.40,12,0.60,0,0,20,100
4,7,4,0.57,3,0.43,0,0,7,100,0,...,7,100,1,0.14,6,0.86,0,0,7,100
5,18,8,0.44,10,0.56,0,0,18,100,0,...,18,100,7,0.39,11,0.61,0,0,18,100
6,74,40,0.54,34,0.46,0,0,74,100,0,...,74,99,22,0.30,52,0.70,0,0,74,100
7,17,16,0.94,1,0.06,0,0,17,100,0,...,17,100,4,0.24,13,0.76,0,0,17,100
8,34,20,0.59,14,0.41,0,0,34,100,1,...,34,100,12,0.35,22,0.65,0,0,34,100
9,324,189,0.58,135,0.42,0,0,324,100,0,...,324,100,112,0.35,212,0.65,0,0,324,100
10,139,82,0.59,57,0.41,0,0,139,100,1,...,139,100,48,0.35,91,0.65,0,0,139,100
11,26,19,0.73,7,0.27,0,0,26,100,0,...,26,100,12,0.46,14,0.54,0,0,26,100
12,6,6,1.00,0,0.00,0,0,6,100,0,...,6,100,3,0.50,3,0.50,0,0,6,100
13,47,34,0.72,13,0.28,0,0,47,100,0,...,47,100,31,0.66,16,0.34,0,0,47,100
14,63,51,0.81,12,0.19,0,0,63,100,0,...,63,100,23,0.37,40,0.63,0,0,63,100
15,0,0,0.00,0,0.00,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
16,100,75,0.75,25,0.25,0,0,100,100,0,...,100,100,36,0.36,64,0.64,0,0,100,100
17,19,14,0.74,5,0.26,0,0,19,100,0,...,19,100,1,0.05,18,0.95,0,0,19,100
18,0,0,0.00,0,0.00,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
19,305,234,0.77,71,0.23,0,0,305,100,0,...,305,100,158,0.52,147,0.48,0,0,305,100
20,421,233,0.55,188,0.45,0,0,421,100,0,...,421,100,87,0.21,334,0.79,0,0,421,100
21,228,159,0.70,69,0.30,0,0,228,100,0,...,228,100,30,0.13,198,0.87,0,0,228,100
22,0,0,0.00,0,0.00,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
23,2,1,0.50,1,0.50,0,0,2,100,0,...,2,100,0,0.00,2,1.00,0,0,2,100
24,2,1,0.50,1,0.50,0,0,2,100,0,...,2,100,0,0.00,2,1.00,0,0,2,100
25,2,0,0.00,2,1.00,0,0,2,100,0,...,2,100,0,0.00,2,1.00,0,0,2,100
26,40,13,0.33,27,0.68,0,0,40,100,0,...,40,100,5,0.13,35,0.88,0,0,40,100
27,26,15,0.58,11,0.42,0,0,26,100,0,...,26,100,7,0.27,19,0.73,0,0,26,100
28,4,1,0.25,3,0.75,0,0,4,100,0,...,4,100,0,0.00,4,1.00,0,0,4,100
29,6,4,0.67,2,0.33,0,0,6,100,0,...,6,100,1,0.17,5,0.83,0,0,6,100
30,0,0,0.00,0,0.00,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
31,0,0,0.00,0,0.00,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0

In [ ]:
encoder=['00','01','11','10']

In [ ]:
len(data)

32

In [ ]:
#Frequency Based Encoding
details= dict()
for j in data.columns:
  col=data[j]
  sortx = dict()
  a=list()
  for i in col:
    if i not in sortx:
      sortx[i] = 1
      a.append(i)
    else:
      sortx[i]+=1
  a.sort()
  p=0
  s=0
  i=0
  l=0
  while p<len(data):
    m=int(sortx[a[l]])
    if  s+m <=(math.ceil(len(data)/len(encoder))) :
      s+=m
      sortx[a[l]]=encoder[i]
    else:
      if l == 0:
        sortx[a[l]]=encoder[i]
        i+=1
      else:
        i+=1
        sortx[a[l]]=encoder[i]
      s=0
    l+=1
    p+=m
  details[j]=sortx

In [ ]:
#Replacing the data in table with encoding
data1 = df(columns = data.columns)
for i in range(len(data)):
  t=[]
  p=data.loc[i]
  for j in range(len(p)):
    s=details[data.columns[j]]
    t.append(s[p[j]])
  ar = pd.Series(t, index = data1.columns)
  data1 = data1.append(ar,ignore_index = True)

data1

,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,COUNT PACIFIC ISLANDER,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,01,01,01,01,10,00,00,01,01,00,...,01,01,00,00,01,10,00,00,01,01
1,11,11,01,10,11,00,00,11,01,00,...,11,01,10,11,10,11,00,00,11,01
2,11,11,11,11,01,00,00,11,01,00,...,11,01,11,11,11,01,00,00,11,01
3,01,01,11,01,01,00,00,01,01,00,...,01,01,11,10,01,01,00,00,01,01
4,01,01,01,01,11,00,00,01,01,00,...,01,01,01,01,01,11,00,00,01,01
5,01,01,01,11,10,00,00,01,01,00,...,01,01,01,11,01,01,00,00,01,01
6,11,11,01,11,11,00,00,11,01,00,...,11,00,11,11,11,11,00,00,11,01
7,01,11,10,01,00,00,00,01,01,00,...,01,01,01,01,01,11,00,00,01,01
8,11,11,11,11,11,00,00,11,01,01,...,11,01,11,11,11,01,00,00,11,01
9,10,10,11,10,11,00,00,10,01,00,...,10,01,10,11,10,01,00,00,10,01
10,10,10,11,10,11,00,00,10,01,01,...,10,01,10,11,10,01,00,00,10,01
11,11,11,11,01,01,00,00,11,01,00,...,11,01,11,10,01,01,00,00,11,01
12,01,01,10,00,00,00,00,01,01,00,...,01,01,01,10,01,00,00,00,01,01
13,11,11,11,11,01,00,00,11,01,00,...,11,01,11,10,11,00,00,00,11,01
14,11,11,10,11,00,00,00,11,01,00,...,11,01,11,11,11,01,00,00,11,01
15,00,00,00,00,00,00,00,00,00,00,...,00,00,00,00,00,00,00,00,00,00
16,11,10,10,11,01,00,00,11,01,00,...,11,01,11,11,11,01,00,00,11,01
17,01,01,10,01,01,00,00,01,01,00,...,01,01,01,01,11,10,00,00,01,01
18,00,00,00,00,00,00,00,00,00,00,...,00,00,00,00,00,00,00,00,00,00
19,10,10,10,10,01,00,00,10,01,00,...,10,01,10,10,10,00,00,00,10,01
20,10,10,01,10,11,00,00,10,01,00,...,10,01,10,01,10,11,00,00,10,01
21,10,10,11,10,01,00,00,10,01,00,...,10,01,11,01,10,11,00,00,10,01
22,00,00,00,00,00,00,00,00,00,00,...,00,00,00,00,00,00,00,00,00,00
23,00,01,01,01,11,00,00,00,01,00,...,00,01,00,00,00,10,00,00,00,01
24,00,01,01,01,11,00,00,00,01,00,...,00,01,00,00,00,10,00,00,00,01
25,00,00,00,01,10,00,00,00,01,00,...,00,01,00,00,00,10,00,00,00,01
26,11,01,00,11,10,00,00,11,01,00,...,11,01,01,01,11,11,00,00,11,01
27,11,11,11,11,11,00,00,11,01,00,...,11,01,01,01,11,11,00,00,11,01
28,01,01,00,01,10,00,00,01,01,00,...,01,01,00,00,01,10,00,00,01,01
29,01,01,11,01,01,00,00,01,01,00,...,01,01,01,01,01,11,00,00,01,01
30,00,00,00,00,00,00,00,00,00,00,...,00,00,00,00,00,00,00,00,00,00
31,00,00,00,00,00,00,00,00,00,00,...,00,00,00,00,00,00,00,00,00,00

In [ ]:
#Generating final encoded string
enc=[]
for i in range(len(data1)):
  p=data1.loc[i]
  t=""
  for j in p:
    t+=j
  enc.append(t)
enc

['0101010110000001010001010000111111110000000000000111000001100000000001010000011000000101',
 '1111011011000011010010110000111101011111110100001111101110110000000011011011101100001101',
 '1111111101000011010010110000110101011111110101011111111111010000000011011111110100001101',
 '0101110101000001010011110000000000001110111100000111000001100000000001011110010100000101',
 '0101010111000001010001110000111100000111111000000101111101010000000001010101011100000101',
 '0101011110000001010011100000111100000101111100000111111101110000000001010111010100000101',
 '1111011111000011010010110000110100001011111101011101111111010101000011001111111100001101',
 '0111100100000001010011100000111101010101000000000111111101110000000001010101011100000101',
 '1111111111000011010111100101000000001111110101011111110111110000000011011111110100001101',
 '1010111011000010010010100100110101011011101100001001101110010101000010011011100100001001',
 '1010111011000010010110110101110101011010111101011011101110110101000010011011100100001001',
 '1111110101000011010011110000000000001110111100001111111111010000000011011110010100001101',
 '0101100000000001010000000000111101110000111000000111000001100000000001010110010000000101',
 '1111111101000011010011010000110111110101111100001101000011100000000011011110110000001101',
 '1111101100000011010011010000110111110101111000001111111111110000000011011111110100001101',
 '0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
 '1110101101000011010000000000000011111101111100001111110111110000000011011111110100001101',
 '0101100101000001010011010000111101011110111100000111111101010000000001010101111000000101',
 '0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
 '1010101001000010010001000000110111110000110101001011110110110100000010011010100000001001',
 '1010011011000010010010010000111111111001101101011001100110110101000010011001101100001001',
 '1010111001000010010011010000110111111101101101011011110110110000000010011101101100001001',
 '0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
 '0001010111000000010000000000111000000000000000000011000000100000000000010000001000000001',
 '0001010111000000010001100000000000000000111000000011111000000000000000010000001000000001',
 '0000000110000000010001100000000000000111000000000011111000000000000000010000001000000001',
 '1101001110000011010001010000000011110101110100001111000011100000000011010101111100001101',
 '1111111111000011010011010000111111011111111101011111110111110000000011010101111100001101',
 '0101000110000001010000000000000000000110000000000111111001000000000001010000011000000101',
 '0101110101000001010011100000000001010000000000000111111001010000000001010101011100000101',
 '0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
 '0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000']

In [ ]:
len(enc[0])

88

In [ ]:
r_ind=[18,36,54,72]

In [ ]:
#Vertical Split into 6
t=[]
for i in range(len(enc)):
  s=0
  for j in r_ind:
    t.append(enc[i][s:j])
    s=j
  t.append(enc[i][s:])
  enc[i]=t
  t=[]
for i in enc:
  print(i)

['010101011000000101', '000101000011111111', '000000000000011100', '000110000000000101', '0000011000000101']
['111101101100001101', '001011000011110101', '111111010000111110', '111011000000001101', '1011101100001101']
['111111110100001101', '001011000011010101', '111111010101111111', '111101000000001101', '1111110100001101']
['010111010100000101', '001111000000000000', '111011110000011100', '000110000000000101', '1110010100000101']
['010101011100000101', '000111000011110000', '011111100000010111', '110101000000000101', '0101011100000101']
['010101111000000101', '001110000011110000', '010111110000011111', '110111000000000101', '0111010100000101']
['111101111100001101', '001011000011010000', '101111110101110111', '111101010100001100', '1111111100001101']
['011110010000000101', '001110000011110101', '010100000000011111', '110111000000000101', '0101011100000101']
['111111111100001101', '011110010100000000', '111111010101111111', '011111000000001101', '1111110100001101']
['101011101100001001', '001010010011010101', '101110110000100110', '111001010100001001', '1011100100001001']
['101011101100001001', '011011010111010101', '101011110101101110', '111011010100001001', '1011100100001001']
['111111010100001101', '001111000000000000', '111011110000111111', '111101000000001101', '1110010100001101']
['010110000000000101', '000000000011110111', '000011100000011100', '000110000000000101', '0110010000000101']
['111111110100001101', '001101000011011111', '010111110000110100', '001110000000001101', '1110110000001101']
['111110110000001101', '001101000011011111', '010111100000111111', '111111000000001101', '1111110100001101']
['000000000000000000', '000000000000000000', '000000000000000000', '000000000000000000', '0000000000000000']
['111010110100001101', '000000000000001111', '110111110000111111', '011111000000001101', '1111110100001101']
['010110010100000101', '001101000011110101', '111011110000011111', '110101000000000101', '0101111000000101']
['000000000000000000', '000000000000000000', '000000000000000000', '000000000000000000', '0000000000000000']
['101010100100001001', '000100000011011111', '000011010100101111', '011011010000001001', '1010100000001001']
['101001101100001001', '001001000011111111', '100110110101100110', '011011010100001001', '1001101100001001']
['101011100100001001', '001101000011011111', '110110110101101111', '011011000000001001', '1101101100001001']
['000000000000000000', '000000000000000000', '000000000000000000', '000000000000000000', '0000000000000000']
['000101011100000001', '000000000011100000', '000000000000001100', '000010000000000001', '0000001000000001']
['000101011100000001', '000110000000000000', '000011100000001111', '100000000000000001', '0000001000000001']
['000000011000000001', '000110000000000000', '011100000000001111', '100000000000000001', '0000001000000001']
['110100111000001101', '000101000000001111', '010111010000111100', '001110000000001101', '0101111100001101']
['111111111100001101', '001101000011111101', '111111110101111111', '011111000000001101', '0101111100001101']
['010100011000000101', '000000000000000000', '011000000000011111', '100100000000000101', '0000011000000101']
['010111010100000101', '001110000000000101', '000000000000011111', '100101000000000101', '0101011100000101']
['000000000000000000', '000000000000000000', '000000000000000000', '000000000000000000', '0000000000000000']
['000000000000000000', '000000000000000000', '000000000000000000', '000000000000000000', '0000000000000000']

In [ ]:
#Function to add null boundary and returns string
def nullbound(n,winsize,t1):
  if n%2!=0:
          if winsize%2!=0:
            t1 = "0"*(winsize//2) + t1 + "0"*(winsize//2)
          else:
            t1 = "0"*((winsize//2)+1) + t1 + "0"*(winsize//2)
  else:
          if winsize%2!=0:
            t1 = "0"*(winsize//2) + t1 + "0"*(winsize//2)
          else:
            t1 = "0"*((winsize//2)+1) + t1 + "0"*(winsize//2)
  return t1

In [ ]:
#generating binary rule
def rg(rule):
  brule=bin(rule).replace("0b","").zfill(2**winsize)
  brule=brule[::-1]
  return brule

In [ ]:
my_list = [
252645135, 
252645195,
252645336,
252645360,
252652815,
252656655,
252656880,
252691215,
252691440,
252695055,
252698895,
252702735,
252702960,
253678110,
254611245,
254618925,
255594255,
255652080,
256577295,
256577355,
259190799,
259526415,
260509455,
260960271,
263458575,
263458635,
264441615,
264499440,
265482450,
267390735,
267390795,
267390960,
267416079,
267422991,
267448335,
267448359,
267448560,
505290270,
505336350,
509222490,
517136850,
517140690,
521018910,
568251090,
570174960,
570217200,
695036265,
755961615,
755969295,
756011535,
756019215,
756994590,
757927725,
757931565,
757935405,
757939245,
764265357,
764269197,
764273037,
764276877,
921712188,
1010580540,
1016918172,
1016918172,
1511938590,
1231776105,
1259293455,
1259293515,
1259293560,
1259293680,
1263225615,
1263225675,
1267157835,
1267157880,
1271089995,
1752787305,
1768515945,
1799965515,
1831415085,
1921479288,
1924428408,
2018211960,
2018212020,
2018212080,
2019194970,
2021161080,
2072267535,
2072267595,
2076199695,
2076199755,
2076199920,
2218767375,
2218767540,
2218767600,
2222699700,
2222699760,
2273806215,
2275772325,
2276755215,
2276755275,
2276755335,
252648975,
2370538887,
2463552210,
2526451350,
2777130375,
2783028705,
3027809415,
3031741620,
3035673615,
3035673780,
3063191190,
3530698098,
3537028050,
3537035730,
3537972705,
3538955760,
3539005680,
3724750095,
3726716205,
3777826605,
3785744805,
3789677025,
4027518936,
4027544304,
4027576335,
4027576560,
4030467855,
4031508660,
4034007024,
4035440880,
4038389940,
4039315215,
4040348370,
4041289185,
4042264560,
4042272240,
263458575,
264441615,
265482450,
267390795,
267416079,
267448335,
267448560,
505336350,
517136850,
521018910,
570174960,
695036265,
755969295,
756019215,
757927725,
757935405,
764265357,
764273037,
921712188,
1016918172,
1511938590,
1259293455,
1259293560,
1263225615,
1267157835]
# for i in range(len(rule_list)):
#   rule_list[i]=str(rule_list[i])

rule_list=random.sample(my_list,2)
print(rule_list)

[1924428408, 4042272240]

In [ ]:
#For finding the length of the next encoding(as in 2-bit, 3-bit encoding)
def findn(d):
    i=1
    while 2**i<d:
      i+=1
    return i

def cy_enc(l,index):
    return   bin(index).replace("0b","").zfill(l)

In [ ]:
from sklearn.cluster import KMeans
from sklearn import metrics

In [ ]:
#Will apply the CA rule and generate all possible cycles and returns nested list
def rule_app1(a1,winsize,brule):
  final_array = []
  a=list(set(a1))
  n=len(a[0])
  current_array=[]
  while(a):
    t1=a[0]
    flag=0
    while(not flag):
      if current_array == []:
        current_array.append(t1)
        a.remove(t1)
        
      else:
        t1=nullbound(n,winsize,t1)
        t2=""

        for j in range(n):
          check=int(str(t1[j:j+winsize]),2)
          t2+=brule[check]

        t1=t2

        if t1 not in current_array:
            if t1 in a:
              a.remove(t1)
              current_array.append(t1)
              
        else:
            flag=1
        

    final_array.append(current_array)
    current_array=[]
    cycle=1
    # print(cycle)
    cycle+=1
  return final_array

In [ ]:

#Clustering, checking scores 252702960
winsize = 5
split=5

#rule_list=[267390795,267416079]
#rule_list=[256577355,259190799]
#rule_list=[252691440,2218767375]
# rule_list=[[1511938590,2218767375],[2276755335,1259293455],[2276755215,255652080]]
#rule_list=[[1511938590,2218767375]]

tmc=[]
tma=[]
enc1 = copy.deepcopy(enc)
for p in range(int(len(rule_list)/2)):
  rule = rg(int(rule_list[0]))
  fc = {}

  tr = []
  for i in range(split):
    for j in range(len(enc1)):
      tr.append(enc1[j][i])
    fc[i]=rule_app1(tr,winsize,rule)
    tr = []

  for i in range(split):
    t=fc[i]
    s=findn(len(t))
    for j in range(len(enc1)):
      plt=enc1[j][i]
      l=0
      while(plt not in t[l]):
        l+=1
      enc1[j][i]= cy_enc(s,l)
  rule=rg(int(rule_list[1]))
  for i in range(len(enc1)):
    t=""
    for j in enc1[i]:
      t+=j
    enc1[i]=t
  # print(len(enc1))
  fa=rule_app1(enc1,winsize,rule)
  #print(fa)
  kl=copy.deepcopy(enc1)
  for i in range(len(enc1)):
    j=0
    while j <len(fa):
      if enc1[i] in fa[j]:
        enc1[i]=j
        break
      else:
        j+=1

  
  X=data.to_numpy()
  #print(len(enc1),len(X))
  print(p)
  
  if (len(set(enc1))>1):
      pl=silhouette_score(X,enc1,metric="euclidean")
      print(rule_list)
      # print(rule_list[2*p+1])
      print("silhoutte:",pl)
      # print("calinski:",calinski_harabasz_score(X,enc1))
      # print("davies:",davies_bouldin_score(X,enc1))

      clust=KMeans(n_clusters=len(set(enc1)),random_state=42)
      clust.fit(X)
      labels=clust.labels_
      
      pl1=metrics.silhouette_score(X, labels, metric='euclidean')
      # print("Kmeans silhoutte :" ,pl1)
      # print(len(set(labels)))
      # print("Kmeans calinski :", (metrics.calinski_harabasz_score(X, labels)))
      # print("Kmeans davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))
      print("-----------")
      tmc.append([pl,pl1])
      if tma==[] or tma[0][0]<pl:
        tma=[[pl,pl1]]
  #enc1=copy.deepcopy(enc)

0
[1924428408, 4042272240]
silhoutte: 0.15625
-----------

In [ ]:

# head=["record for SC for CA algo","Corresponding SC for Kmeans"]
# print(tabulate(tmc,headers=head,tablefmt="grid"))
# head=["max SC for CA algo","Corresponding SC for Kmeans"]
# print(tabulate(tma,headers=head,tablefmt="grid"))

+-----------------------------+-------------------------------+
|   record for SC for CA algo |   Corresponding SC for Kmeans |
+=============================+===============================+
|                    0.627027 |                      0.520635 |
+-----------------------------+-------------------------------+
+----------------------+-------------------------------+
|   max SC for CA algo |   Corresponding SC for Kmeans |
+======================+===============================+
|             0.627027 |                      0.520635 |
+----------------------+-------------------------------+

In [ ]:
kls=copy.deepcopy(kl)
t1=copy.deepcopy(fa) 
for i in range(len(fa)-2):
  #print(len(t1),"###")
  kl=copy.deepcopy(kls)  
  fa1=copy.deepcopy(t1)
  idx=0
  for j in range(len(fa1)):
    if len(fa1[j])<len(fa1[idx]):
      idx=j
      
  t=copy.deepcopy(t1) 
  removed=t.pop(idx)
  #print(removed)
  ml=[]

  for j in removed:
    ml.append([kls.index(j),j])
  ml=sorted(ml)
  for j in ml:
    kl.remove(j[1])
  #print(ml)
  for j in range(len(fa1[idx])):
    p=[]
    a,b=ml[0]
    kl.insert(a,b)
    X=data.copy(deep=True)
    if len(ml)>1:
        for h in ml[1:]:
          X.drop(h[0],inplace=True)
      #print(len(X))
    X=X.to_numpy()
    for k in range(len(t)):
      m=copy.deepcopy(t)
      m[k].append(b)

      kle=copy.deepcopy(kl)
      for z in range(len(kle)):
        c=0
        while c <len(m):
          if kle[z] in m[c]:
            kle[z]=c
            break
          else:
            c+=1
      pl=silhouette_score(X,kle,metric="euclidean")
      p.append(pl)
    #print(p.index(max(p)))
    #print(t[p.index(max(p))])
    t[p.index(max(p))].append(fa1[idx][j])
    ml.pop()
    t1=t
    l=[]
    for i in t1:
      l.append(len(i))
    #print(l)

In [ ]:
len(kl)

32

In [ ]:
for i in range(len(kls)):
    j=0
    while j <len(t1):
      if kls[i] in t1[j]:
        kls[i]=j
        break
      else:
        j+=1
X=data.to_numpy()
pl=silhouette_score(X,kls,metric="euclidean")
print(rule_list)
print("silhoutte:",pl)
print("calinski:",calinski_harabasz_score(X,kls))
print("davies:",davies_bouldin_score(X,kls))
clust=KMeans(n_clusters=len(set(kls)),random_state=42)
clust.fit(X)
labels=clust.labels_
      
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
# print("Kmeans silhoutte :" ,pl1)
# print("Kmeans calinski :", (metrics.calinski_harabasz_score(X, labels)))
# print("Kmeans davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))
# print(len(set(labels)))

[1924428408, 4042272240]
silhoutte: 0.39021358327450645
calinski: 13.643026405450549
davies: 1.3472770110126309

In [ ]:
my_data=[[len(fa),tma[0][0],tma[0][1],pl,pl1]]
head=["Initial no.of clusters", "Silhoutte score for our algo","silhoutte score for kmeans"," new silhoutte score","new silhoute for kmeans"]
print(tabulate(my_data, headers=head, tablefmt="grid"))

+--------------------------+--------------------------------+------------------------------+------------------------+---------------------------+
|   Initial no.of clusters |   Silhoutte score for our algo |   silhoutte score for kmeans |    new silhoutte score |   new silhoute for kmeans |
+==========================+================================+==============================+========================+===========================+
|                       28 |                        0.15625 |                      0.15625 |               0.333458 |                  0.766361 |
+--------------------------+--------------------------------+------------------------------+------------------------+---------------------------+

In [ ]:
p=[]
for i in fa:
  p.append(len(i))
q=[]
for i in t1:
  q.append(len(i))
print("before :",p)
print("after: ",q)

print(t1)

before : [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
after:  [11, 17]
[['0001101111101010010001010', '0101100100110010100110000', '1011001100010010011101010', '0010010101110000010001100', '0001001011011101000100010', '0100100101000010001000100', '0000100001001000001100000', '0001000011001010110100010', '0111001111011001000001011', '0011010110010100010100111', '0010110001000000111101001'], ['0000010011101110101101111', '1001000001011110111000110', '1000101101010000100000110', '0110100010101100110001111', '0000000010010110110001111', '0011101110001110101010001', '1010010100101000000110001', '1000001010110100100001101', '1010010010000110100001110', '0111110000100000000010001', '0101001001100110000000001', '0100010010100100011000101', '1010100000100010011100100', '0110000110000100011001010', '1010100111000100011101010', '0110001111001100001000011', '1001101000011010101001000']]

In [ ]:
from sklearn.cluster import KMeans, MeanShift, DBSCAN, Birch
from sklearn import datasets
X=data.to_numpy()

In [ ]:
clust_model = MeanShift(bandwidth=50)
clust_model.fit(X)
labels = clust_model.labels_
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("Meanshift silhoutte :" ,pl1)
print("Meanshift calinski :", (metrics.calinski_harabasz_score(X, labels)))
print("Meanshift davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

Meanshift silhoutte : 0.46821835837440073
Meanshift calinski : 350.2929624179578
Meanshift davies_bouldin_score:  0.23522706626769807

In [ ]:
clust_model = DBSCAN(min_samples=2, eps=100)
clust_model.fit(X)
# Evaluating model's performance

labels = clust_model.labels_
# pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("DBSCAN silhoutte :" ,pl1)
# print("DBSCAN calinski :", (metrics.calinski_harabasz_score(X, labels)))
# print("DBSCAN davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

DBSCAN silhoutte : 0.46821835837440073

In [ ]:
clust_model = Birch(n_clusters=2,branching_factor=1000,threshold=1.5)
clust_model.fit(X)
labels = clust_model.labels_
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("Birch silhoutte :" ,pl1)
print("Birch calinski :", (metrics.calinski_harabasz_score(X, labels)))
print("Birch davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

Birch silhoutte : 0.7663611080988648
Birch calinski : 94.42893185124181
Birch davies_bouldin_score:  0.43429835583227294

In [ ]:
X

array([[ 11.  ,   4.  ,   0.36, ...,   0.  ,  11.  , 100.  ],
       [124.  ,  70.  ,   0.56, ...,   0.  , 124.  , 100.  ],
       [ 38.  ,  26.  ,   0.68, ...,   0.  ,  38.  , 100.  ],
       ...,
       [  6.  ,   4.  ,   0.67, ...,   0.  ,   6.  , 100.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ]])

In [ ]:
#Clustering, checking scores 252702960
winsize = 5
split=5

#rule_list=[267390795,267416079]
#rule_list=[256577355,259190799]
#rule_list=[252691440,2218767375]
# rule_list=[[1511938590,2218767375],[2276755335,1259293455],[2276755215,255652080]]
#rule_list=[[1511938590,2218767375]]

tmc=[]
tma=[]
enc1 = copy.deepcopy(enc)
for p in range(int(len(rule_list)/2)):
  rule = rg(int(rule_list[0]))
  fc = {}

  tr = []
  for i in range(split):
    for j in range(len(enc1)):
      tr.append(enc1[j][i])
    fc[i]=rule_app1(tr,winsize,rule)
    tr = []

  for i in range(split):
    t=fc[i]
    s=findn(len(t))
    for j in range(len(enc1)):
      plt=enc1[j][i]
      l=0
      while(plt not in t[l]):
        l+=1
      enc1[j][i]= cy_enc(s,l)
  rule=rg(int(rule_list[1]))
  for i in range(len(enc1)):
    t=""
    for j in enc1[i]:
      t+=j
    enc1[i]=t
  # print(len(enc1))
  fa=rule_app1(enc1,winsize,rule)
  #print(fa)
  kl=copy.deepcopy(enc1)
  for i in range(len(enc1)):
    j=0
    while j <len(fa):
      if enc1[i] in fa[j]:
        enc1[i]=j
        break
      else:
        j+=1

  
  X=data.to_numpy()
  #print(len(enc1),len(X))
  print(p)
  
  if (len(set(enc1))>1):
      pl=silhouette_score(X,enc1,metric="euclidean")
      # print(rule_list[2*p])
      # print(rule_list[2*p+1])
      # print("silhoutte:",pl)
      # print("calinski:",calinski_harabasz_score(X,enc1))
      # print("davies:",davies_bouldin_score(X,enc1))

      clust=KMeans(n_clusters=len(set(enc1)),random_state=42)
      clust.fit(X)
      labels=clust.labels_
      
      pl1=metrics.silhouette_score(X, labels, metric='euclidean')
      # print("Kmeans silhoutte :" ,pl1)
      print(len(set(labels)))
      # print("Kmeans calinski :", (metrics.calinski_harabasz_score(X, labels)))
      # print("Kmeans davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))
      print("-----------")
      tmc.append([pl,pl1])
      if tma==[] or tma[0][0]<pl:
        tma=[[pl,pl1]]
  #enc1=copy.deepcopy(enc)

0
silhoutte: 0.6270267524108343
Kmeans silhoutte : 0.5206351999771719
3
-----------

+-----------------------------+-------------------------------+
|   record for SC for CA algo |   Corresponding SC for Kmeans |
+=============================+===============================+
|                    0.627027 |                      0.520635 |
+-----------------------------+-------------------------------+
+----------------------+-------------------------------+
|   max SC for CA algo |   Corresponding SC for Kmeans |
+======================+===============================+
|             0.627027 |                      0.520635 |
+----------------------+-------------------------------+

In [ ]:
kls=copy.deepcopy(kl)
t1=copy.deepcopy(fa) 
for i in range(len(fa)-2):
  #print(len(t1),"###")
  kl=copy.deepcopy(kls)  
  fa1=copy.deepcopy(t1)
  idx=0
  for j in range(len(fa1)):
    if len(fa1[j])<len(fa1[idx]):
      idx=j
      
  t=copy.deepcopy(t1) 
  removed=t.pop(idx)
  #print(removed)
  ml=[]

  for j in removed:
    ml.append([kls.index(j),j])
  ml=sorted(ml)
  for j in ml:
    kl.remove(j[1])
  #print(ml)
  for j in range(len(fa1[idx])):
    p=[]
    a,b=ml[0]
    kl.insert(a,b)
    X=data.copy(deep=True)
    if len(ml)>1:
        for h in ml[1:]:
          X.drop(h[0],inplace=True)
      #print(len(X))
    X=X.to_numpy()
    for k in range(len(t)):
      m=copy.deepcopy(t)
      m[k].append(b)

      kle=copy.deepcopy(kl)
      for z in range(len(kle)):
        c=0
        while c <len(m):
          if kle[z] in m[c]:
            kle[z]=c
            break
          else:
            c+=1
      pl=silhouette_score(X,kle,metric="euclidean")
      p.append(pl)
    #print(p.index(max(p)))
    #print(t[p.index(max(p))])
    t[p.index(max(p))].append(fa1[idx][j])
    ml.pop()
    t1=t
    l=[]
    for i in t1:
      l.append(len(i))
    #print(l)

In [ ]:
len(kl)

32

In [ ]:
for i in range(len(kls)):
    j=0
    while j <len(t1):
      if kls[i] in t1[j]:
        kls[i]=j
        break
      else:
        j+=1
X=data.to_numpy()
pl=silhouette_score(X,kls,metric="euclidean")
print("silhoutte:",pl)
print("calinski:",calinski_harabasz_score(X,kls))
print("davies:",davies_bouldin_score(X,kls))
clust=KMeans(n_clusters=len(set(kls)),random_state=42)
clust.fit(X)
labels=clust.labels_
      
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("Kmeans silhoutte :" ,pl1)
print("Kmeans calinski :", (metrics.calinski_harabasz_score(X, labels)))
print("Kmeans davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))
print(len(set(labels)))

silhoutte: 0.706186070696281
calinski: 30.68985605496392
davies: 0.38593219474272467
Kmeans silhoutte : 0.7663611080988648
Kmeans calinski : 94.42893185124181
Kmeans davies_bouldin_score:  0.43429835583227294
2

In [ ]:
my_data=[[len(fa),tma[0][0],tma[0][1],pl,pl1]]
head=["Initial no.of clusters", "Silhoutte score for our algo","silhoutte score for kmeans"," new silhoutte score","new silhoute for kmeans"]
print(tabulate(my_data, headers=head, tablefmt="grid"))

+--------------------------+--------------------------------+------------------------------+------------------------+---------------------------+
|   Initial no.of clusters |   Silhoutte score for our algo |   silhoutte score for kmeans |    new silhoutte score |   new silhoute for kmeans |
+==========================+================================+==============================+========================+===========================+
|                        3 |                       0.627027 |                     0.520635 |               0.706186 |                  0.766361 |
+--------------------------+--------------------------------+------------------------------+------------------------+---------------------------+

In [ ]:
p=[]
for i in fa:
  p.append(len(i))
q=[]
for i in t1:
  q.append(len(i))
print("before :",p)
print("after: ",q)

print(t1)

before : [25, 1, 1]
after:  [25, 2]
[['0100010100001000010', '0010001010000101010', '0000000000010000011', '1000000000000100010', '0001000010100001101', '0000000000010000001', '0001001001000001101', '0001100101100001000', '0100100000111000010', '0100010000000100010', '0100000001110110010', '0101101000000011001', '0010000000000010010', '0001000100000001101', '0100001100000100010', '0111011110010111110', '0011011000000011001', '0101010101110000001', '0000011100000000001', '0001001000010001000', '0110011000100000001', '0010000001000110010', '0101100000000011001', '0000100000000000001', '0010001000001000010'], ['0001000000000001101', '0001000001010001100']]

In [ ]:
from sklearn.cluster import KMeans, MeanShift, DBSCAN, Birch
from sklearn import datasets
X=data.to_numpy()

In [ ]:
clust_model = MeanShift(bandwidth=50)
clust_model.fit(X)
labels = clust_model.labels_
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("Meanshift silhoutte :" ,pl1)
print("Meanshift calinski :", (metrics.calinski_harabasz_score(X, labels)))
print("Meanshift davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

Meanshift silhoutte : 0.46821835837440073
Meanshift calinski : 350.2929624179578
Meanshift davies_bouldin_score:  0.23522706626769807

In [ ]:
clust_model = DBSCAN(min_samples=2, eps=100)
clust_model.fit(X)
# Evaluating model's performance

labels = clust_model.labels_
# pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("DBSCAN silhoutte :" ,pl1)
# print("DBSCAN calinski :", (metrics.calinski_harabasz_score(X, labels)))
# print("DBSCAN davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

DBSCAN silhoutte : 0.46821835837440073

In [ ]:
clust_model = Birch(n_clusters=2,branching_factor=1000,threshold=1.5)
clust_model.fit(X)
labels = clust_model.labels_
pl1=metrics.silhouette_score(X, labels, metric='euclidean')
print("Birch silhoutte :" ,pl1)
print("Birch calinski :", (metrics.calinski_harabasz_score(X, labels)))
print("Birch davies_bouldin_score: ",metrics.davies_bouldin_score(X, labels))

Birch silhoutte : 0.7663611080988648
Birch calinski : 94.42893185124181
Birch davies_bouldin_score:  0.43429835583227294

In [ ]:
X

array([[ 11.  ,   4.  ,   0.36, ...,   0.  ,  11.  , 100.  ],
       [124.  ,  70.  ,   0.56, ...,   0.  , 124.  , 100.  ],
       [ 38.  ,  26.  ,   0.68, ...,   0.  ,  38.  , 100.  ],
       ...,
       [  6.  ,   4.  ,   0.67, ...,   0.  ,   6.  , 100.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ]])