In [1]:
import pandas as pd, sklearn

df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [76]:
AvgLen = df[['SepalLengthCm', 'PetalLengthCm']].mean(axis=1)*10000
AvgLen

0      32500.0
1      31500.0
2      30000.0
3      30500.0
4      32000.0
        ...
145    59500.0
146    56500.0
147    58500.0
148    58000.0
149    55000.0
Length: 150, dtype: float64

In [77]:
AvgWid = df[['SepalWidthCm', 'PetalWidthCm']].mean(axis=1)*10000
AvgWid

0      18500.0
1      16000.0
2      17000.0
3      16500.0
4      19000.0
        ...
145    26500.0
146    22000.0
147    25000.0
148    28500.0
149    24000.0
Length: 150, dtype: float64

In [78]:
Avg = pd.concat([AvgLen, AvgWid],axis=1)
Avg

           0        1
0    32500.0  18500.0
1    31500.0  16000.0
2    30000.0  17000.0
3    30500.0  16500.0
4    32000.0  19000.0
..       ...      ...
145  59500.0  26500.0
146  56500.0  22000.0
147  58500.0  25000.0
148  58000.0  28500.0
149  55000.0  24000.0

[150 rows x 2 columns]

In [38]:
list1 = map(lambda x: x.encode('utf-8','strict'),AvgLen)
print(*list1, sep='\n')

b'3250'
b'3150'
b'3000'
b'3050'
b'3200'
b'3550'
b'3000'
b'3250'
b'2900'
b'3200'
b'3450'
b'3200'
b'3099'
b'2700'
b'3500'
b'3600'
b'3350'
b'3250'
b'3700'
b'3300'
b'3550'
b'3300'
b'2800'
b'3400'
b'3349'
b'3300'
b'3300'
b'3350'
b'3300'
b'3150'
b'3200'
b'3450'
b'3350'
b'3450'
b'3200'
b'3100'
b'3400'
b'3200'
b'2850'
b'3300'
b'3150'
b'2900'
b'2850'
b'3300'
b'3500'
b'3099'
b'3349'
b'3000'
b'3400'
b'3200'
b'5850'
b'5450'
b'5900'
b'4750'
b'5550'
b'5100'
b'5500'
b'4100'
b'5600'
b'4550'
b'4250'
b'5050'
b'5000'
b'5400'
b'4600'
b'5550'
b'5050'
b'4949'
b'5350'
b'4750'
b'5350'
b'5050'
b'5600'
b'5400'
b'5350'
b'5500'
b'5800'
b'5850'
b'5250'
b'4600'
b'4650'
b'4600'
b'4850'
b'5550'
b'4950'
b'5250'
b'5700'
b'5350'
b'4850'
b'4750'
b'4950'
b'5350'
b'4900'
b'4150'
b'4900'
b'4950'
b'4950'
b'5250'
b'4050'
b'4900'
b'6150'
b'5449'
b'6500'
b'5949'
b'6150'
b'7100'
b'4700'
b'6800'
b'6250'
b'6650'
b'5800'
b'5850'
b'6150'
b'5350'
b'5449'
b'5850'
b'6000'
b'7200'
b'7300'
b'5500'
b'6300'
b'5250'
b'7200'
b'5600'
b'6200'
b'6600'
b'5500'
b'5500'
b'6000'
b'6500'
b'6750'
b'7150'
b'6000'
b'5699'
b'5850'
b'6900'
b'5949'
b'5950'
b'5400'
b'6150'
b'6150'
b'6000'
b'5449'
b'6350'
b'6200'
b'5950'
b'5650'
b'5850'
b'5800'
b'5500'

In [79]:
Binavg = Avg.apply(lambda x: bin(hash(tuple(x))), axis = 1)
Binavg

0      0b11100101000110010000100101000100000110011111...
1      -0b1111100100100100000110110101010110011110100...
2      0b11100110111111001000011000010111101100000011...
3      -0b1101111110100011000110011001110111011000000...
4      0b10110000111110010001101011010011001101101100...
                             ...
145    -0b1101000010011111101000011110110100010010110...
146    0b10100110100111011011000011110001010010001010...
147    0b10101111110100111000011000010001100000011101...
148    0b10011111011101010101100000111111001101000100...
149    -0b1111101010011001010111000110010000101101111...
Length: 150, dtype: object

In [80]:
len(Binavg.unique())

138

In [58]:
s = Binavg[0]
s

'0b100011000100111010101001010111000101001111110001101011010010101'

In [57]:
arr = bytes(s, 'utf-8')

b'0b100011000100111010101001010111000101001111110001101011010010101'

In [43]:
import lzma

In [60]:

compressor = lzma.LZMACompressor()
t = compressor.compress(arr)
t

b'\xfd7zXZ\x00\x00\x04\xe6\xd6\xb4F\x02\x00!\x01\x16\x00\x00\x00t/\xe5\xa3'

In [67]:
r =t.hex
r()

'fd377a585a000004e6d6b4460200210116000000742fe5a3'

In [69]:
len(r())

48